.container_page_not_found{
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;

}
.container_page_not_found > section{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: 300px;
    min-height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}